<!-- Google Search Modal -->
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div id="closeSearch" title="Close" class="close">X</div>
      <div class="modal-header">
        <div class="modal-title">
          {{- if $.Site.Params.search.google.title -}}
            {{ $.Site.Params.search.google.title }}
          {{- else -}}
            搜索
          {{- end -}}
        </div>
      </div>
      <div id="search" class="modal-body pa3">
          <div class="flex flex-row justify-between py2">
            <input id="searchInput" class="w-100 pa2" type="text" v-model="keywords" placeholder="搜索">
          </div>
          <div class="pt3">
            <div v-for="(item,i) in result" :key="i" class="flex flex-column">
              <a class="link underline-hover blue hover-dark-blue f5" :href="location.origin + item.item.url" v-text="item.item.title" target="_blank" rel="noopener noreferrer"></a>
              <p class="f6 ma0 silver hover-gray w-100" v-html="item.item.description"></p>
            </div>
          </div>
      </div>
    </div>
</div>
